@media screen and (max-width: 800px) {
    /*-----------------------------------First section--------------------------------------------------------------------------------------*/
    .first-section {
        display: flex;
        padding: 5px;
        align-items: center;
        flex-direction: column-reverse;
    }

    .big-text{
        font-size: 45px;
    }

    .big-middle-text{
        font-size: 30px;
    }

    .middle-text{
        font-size: 25px;
        font-weight: 300;
    }

    .small-text{
        font-size: 20px;
    }

    .right-first {
        width: 75%;
    }

    .left-first > img{
        padding-top: 25px;
        width: 300px;
        height: 300px;
        padding-left: 0;
    }


    /*-----------------------------------Bootcamp invitation--------------------------------------------------------------------------------------*/

    .bootcamp-invitation {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        height: auto;
        width: 75%;
    }
    .bootcamp-invitation > h2 {
        font-size: 30px;
    }
    .options-container {
        gap: 10px;
        justify-content: space-between;
    }
    .option {
        font-size: 20px;
    }
    .visible-element{
        padding-top: 40px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .cards {
        max-width: 130px;
    }
    
    .cards > b {
        width: 100%;
        font-size: 20px;
    }
    
    .cards > p {
        width: 100%;
        font-size: 15px;
        color: #A0A0A2;
    }
    
    /* -------------------------------------History Gefest--------- */
    .history-gefest {
        margin-top:100px;
        padding: 10px;
        gap:10px;
        flex-direction: column;
        font-size: 20px;
    }
    .history-gefest > img {
        max-width: 80%;
    }
    
    .history-gefest > p {
        max-width: 80%;
    }

    /* ----------------------------------bootcamp-information-section----- */
    .bootcamp-information-section {
        padding: 10px;
        margin-top: 40px;
        width: 80%;
    }
    /* --------------------------------student-case-section----------- */
    .student-case-section {
        width: 80%;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .student-case-card {
        font-size: 20px;
    }
    .cases-student {
        justify-content:center;
        gap: 10px;
    }
    /* --------------------------------Game-------------- */
    .game-section {
        width: 80%;
        padding: 70px 10px;
    }
    /* ---------------------------------job-openings-section-------------------*/
    .job-openings-section {
        margin-top: 50px;
        padding: 10px;
        width: 80%;
    
    }
    #img-job-openings {
        width: 100%;
        padding: 0px;
    }
    .job-button {
        margin-top: 50px;
        font-size: 20px;
        padding: 50px 45px;
    }
    
    
    
    /* ----------------------------input-section------------------ */
    .input-section {
        padding: 30px;
        width: 90%;
        font-size: 20px;
    }
    #slider-container {

        background-color:black;
        border-radius: 20px;
        border:3px solid white;
        width: 80%;
        text-align: center;
        padding: 25px 20px;
    }
    /* -------------------------------payment-section */
    .payment-section {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        
    }
    
    .payment-button {
        padding: 20px;
        background-color:white;
        color:black;
        border-radius: 15px;
    }

    /*----------------------------------- form-section */
    .popup-form{
        font-size: 25px;
    }
}